<h1>Seja bem vindo! <%= @name %></h1>

<h3>Você está em ambiente de <%= my_environment 'br' %></h3>

<%= render "users" %>

<%= @welcome_text %>

<div class="jumbotron">
    <h1 class="display-4">Seja bem vindo! <%= @name %></h1>
    <p class="lead">Você está em ambiente de <%= my_environment 'br' %></p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>



    <%= link_to 'Criar uma nova moeda.', new_coin_path, class:"btn btn-primary btn-md"  %>

    <%= link_to 'Criar um novo tipo de mineração.', new_mining_type_path, class:"btn btn-primary btn-md"  %>
</div>