<!DOCTYPE html>
<html>
  <head>
    <title>FirstProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <h1>Melhor Site de Moedas Eletronicas.</h1>
    <ul>
      TELA DO ADMINISTRADOR
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
